PORT=3333
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=gestao_financeira_inteligente

JWT_SECRET=troque_este_segredo_em_producao
JWT_EXPIRES_IN=7d
